@model DotNetSystemKnowledge.WebUI.Models.TechnologyViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Technologys";
}

<div class="row">
@foreach (var t in Model.Technologys)
{
    <div class="item">
        <h3>@t.Name</h3>
        @t.Rating
        <h3>@t.Rating.ToString()</h3>
    </div>    
}
</div>

<div class="pager">   
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new {page = x}))
</div>