@model DotNetSystemKnowledge.WebUI.Models.TechnologysViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Technologys";
}

@foreach (var t in Model.Technologys)
{
    Html.RenderPartial("TechnologySummary", t);  
    
}


<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>
