@model DotNetSystemKnowledge.WebUI.Models.TechnologysViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Technologys";
}

@foreach (var t in Model.Technologys)
{
    <div class="item">
        <h3>@t.Name   @t.Rating.ToString()</h3>
    </div>    
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>
